<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8">
			<title>{{ page.title }}</title>
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/default.css">
			<link rel="stylesheet" type="text/css" href="/css/page.css">
			<link rel="stylesheet" type="text/css" href="/css/web_tutorial.css">
			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=UA-152053635-1"></script>
			<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-152053635-1');
			</script>			
		</head>
		<body>
			<header class="site-header">
	    		<h1 class="site-title">
	        		<a href="/">なんでやねん</a>
				</h1>
			</header>
			{{ content}}
			<footer>
	    		<ul class="container">
				<li><a href="/about/">About</a></li>
				<li>This work is licensed under a <a rel="license" href="https://creativecommons.org/licenses/by/4.0/deed.ja">Creative Commons Attribution 4.0 International License</a>.</li>	
				</ul>
			</footer>
			<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
		</body>
	</html>
