@media (min-width: 992px) {
    .container {
        width:970px;
    }
}
@media (min-width: 1200px) {
    .container {
     width:900px;
    }
   }
.container {
    margin-right:auto;
    margin-left:auto;
    padding-left:15px;
    padding-right:15px;
}

.article-container:after {
    content:" ";
    display:table;
    clear: both;
   }
@media (min-width: 992px) {
   .col-md-3 {
    width: 20%;
    float: left;
}
}
